:root {
    --color-chart-1: #f7dcdc;
    --color-chart-2: #eccdcf;
    --color-chart-3: #e2bdc1;
    --color-chart-4: #d7aeb4;
    --color-chart-5: #cc9fa8;
    --color-chart-6: #c0909b;
    --color-chart-7: #b58191;
    --color-chart-8: #aa7286;
    --color-chart-9: #9e647c;
    --color-chart-10: #925572;
    --color-chart-11: #864769;
    --color-chart-12: #793960;
}
