:root {
    --color-chart-1: #f7eff8;
    --color-chart-2: #eddfec;
    --color-chart-3: #e6cee0;
    --color-chart-4: #debed2;
    --color-chart-5: #d7acc4;
    --color-chart-6: #d09cb3;
    --color-chart-7: #c98ba2;
    --color-chart-8: #c27b8f;
    --color-chart-9: #ba6a7b;
    --color-chart-10: #b15a66;
    --color-chart-11: #a84950;
    --color-chart-12: #9e3737;
}
