:root {
    --color-chart-1: #eae1eb;
    --color-chart-2: #e5d6e3;
    --color-chart-3: #e1ccdb;
    --color-chart-4: #dec3d1;
    --color-chart-5: #d9b9c5;
    --color-chart-6: #d6afba;
    --color-chart-7: #d2a5ad;
    --color-chart-8: #cd9c9f;
    --color-chart-9: #c89390;
    --color-chart-10: #c28a81;
    --color-chart-11: #bb816f;
    --color-chart-12: #b3795e;
}
