:root {
    --color-chart-1: #d6e4f0;
    --color-chart-2: #c8d9e3;
    --color-chart-3: #bbced6;
    --color-chart-4: #adc3c9;
    --color-chart-5: #9fb7bb;
    --color-chart-6: #93acae;
    --color-chart-7: #87a1a0;
    --color-chart-8: #7d9894;
    --color-chart-9: #748e87;
    --color-chart-10: #6c867c;
    --color-chart-11: #667d70;
    --color-chart-12: #607465;
}
