:root {
    --color-chart-1: #ddecf0;
    --color-chart-2: #cbdfe3;
    --color-chart-3: #bad3d5;
    --color-chart-4: #a8c5c5;
    --color-chart-5: #97b9b6;
    --color-chart-6: #87ada8;
    --color-chart-7: #77a097;
    --color-chart-8: #689487;
    --color-chart-9: #5a8876;
    --color-chart-10: #4e7b66;
    --color-chart-11: #426f55;
    --color-chart-12: #376444;
}
