:root {
    --color-chart-1: #d0e2e7;
    --color-chart-2: #c3dae2;
    --color-chart-3: #b5d1e0;
    --color-chart-4: #aac8dc;
    --color-chart-5: #a0bfda;
    --color-chart-6: #98b5d6;
    --color-chart-7: #92acd3;
    --color-chart-8: #8da1d0;
    --color-chart-9: #8a97cc;
    --color-chart-10: #888dc7;
    --color-chart-11: #8783c2;
    --color-chart-12: #8677ba;
}
