:root {
    --color-chart-1: #ddecf0;
    --color-chart-2: #d1e3ea;
    --color-chart-3: #c7dae2;
    --color-chart-4: #bcd1dd;
    --color-chart-5: #b1c8d7;
    --color-chart-6: #a8c0d1;
    --color-chart-7: #9fb7cc;
    --color-chart-8: #97aec5;
    --color-chart-9: #90a4c0;
    --color-chart-10: #899cba;
    --color-chart-11: #8393b4;
    --color-chart-12: #7d89ae;
}
