:root {
    --color-chart-1: #f5ece4;
    --color-chart-2: #e9dace;
    --color-chart-3: #dbc8bb;
    --color-chart-4: #d0b7a7;
    --color-chart-5: #c3a595;
    --color-chart-6: #b79383;
    --color-chart-7: #ac8272;
    --color-chart-8: #a07162;
    --color-chart-9: #936054;
    --color-chart-10: #875046;
    --color-chart-11: #7b3f39;
    --color-chart-12: #6e2e2e;
}
