:root {
	--color-chart-1: #efecea;
	--color-chart-2: #e2ddd7;
	--color-chart-3: #d4cec5;
	--color-chart-4: #c6c0b2;
	--color-chart-5: #b8b3a0;
	--color-chart-6: #aaa88c;
	--color-chart-7: #9a9d7b;
	--color-chart-8: #89926c;
	--color-chart-9: #758462;
	--color-chart-10: #637858;
	--color-chart-11: #516c50;
	--color-chart-12: #425949;
};