:root {
	--color-chart-1: #eddcd2;
	--color-chart-2: #e6d3c5;
	--color-chart-3: #dfcbb8;
	--color-chart-4: #d7c2aa;
	--color-chart-5: #cdba9d;
	--color-chart-6: #c3b28f;
	--color-chart-7: #b9ab82;
	--color-chart-8: #ada375;
	--color-chart-9: #a09c69;
	--color-chart-10: #93955e;
	--color-chart-11: #858f54;
	--color-chart-12: #768a4c;
};