:root {
    --color-chart-1: #f5ece4;
    --color-chart-2: #eadbd1;
    --color-chart-3: #decbc1;
    --color-chart-4: #d4bab2;
    --color-chart-5: #c9a9a4;
    --color-chart-6: #bd9998;
    --color-chart-7: #b1898d;
    --color-chart-8: #a47983;
    --color-chart-9: #976a7c;
    --color-chart-10: #885b74;
    --color-chart-11: #784d6d;
    --color-chart-12: #684066;
}
