:root {
	--color-chart-1: #eddcd2;
	--color-chart-2: #e9d3c6;
	--color-chart-3: #e6c9b9;
	--color-chart-4: #e2bfad;
	--color-chart-5: #dfb5a0;
	--color-chart-6: #daab95;
	--color-chart-7: #d7a289;
	--color-chart-8: #d2987f;
	--color-chart-9: #cf8e73;
	--color-chart-10: #cb8468;
	--color-chart-11: #c67a5e;
	--color-chart-12: #c27053;
};