:root {
	--color-chart-1: #f5ece4;
	--color-chart-2: #e7e0d3;
	--color-chart-3: #d8d3c3;
	--color-chart-4: #c7c7b4;
	--color-chart-5: #b5bca7;
	--color-chart-6: #a2b29d;
	--color-chart-7: #8da795;
	--color-chart-8: #7a9b8e;
	--color-chart-9: #669089;
	--color-chart-10: #558384;
	--color-chart-11: #467881;
	--color-chart-12: #3d6b7d;
};