:root {
	--color-chart-1: #ebf0f4;
	--color-chart-2: #dbe5ef;
	--color-chart-3: #ced9ea;
	--color-chart-4: #c2cde6;
	--color-chart-5: #b8c0e1;
	--color-chart-6: #b1b4db;
	--color-chart-7: #aca7d3;
	--color-chart-8: #a799ca;
	--color-chart-9: #a38bc0;
	--color-chart-10: #a07cb5;
	--color-chart-11: #9d6ea8;
	--color-chart-12: #9a5f99;
};