:root {
	--color-chart-1: #e5e4e2;
	--color-chart-2: #dad6cf;
	--color-chart-3: #d2c8bc;
	--color-chart-4: #c9baaa;
	--color-chart-5: #c1ab99;
	--color-chart-6: #b99d89;
	--color-chart-7: #b28f7a;
	--color-chart-8: #ab806c;
	--color-chart-9: #a37360;
	--color-chart-10: #9c6455;
	--color-chart-11: #94564b;
	--color-chart-12: #8b4742;
};