:root {
	--color-chart-1: #d8d8d4;
	--color-chart-2: #d0cec8;
	--color-chart-3: #c6c4bc;
	--color-chart-4: #bebaaf;
	--color-chart-5: #b5b1a3;
	--color-chart-6: #ada697;
	--color-chart-7: #a69d8b;
	--color-chart-8: #9d9380;
	--color-chart-9: #958974;
	--color-chart-10: #8e8068;
	--color-chart-11: #87775d;
	--color-chart-12: #7f6d52;
};