:root {
	--color-chart-1: #d8d8d4;
	--color-chart-2: #cecec9;
	--color-chart-3: #c5c4bd;
	--color-chart-4: #bbbab2;
	--color-chart-5: #b1b1a8;
	--color-chart-6: #a6a69d;
	--color-chart-7: #9c9d92;
	--color-chart-8: #929487;
	--color-chart-9: #888b7d;
	--color-chart-10: #7d8273;
	--color-chart-11: #737969;
	--color-chart-12: #697160;
};