:root {
    --color-chart-1: #e0ebe1;
    --color-chart-2: #d0dfd4;
    --color-chart-3: #c0d4c9;
    --color-chart-4: #afc8be;
    --color-chart-5: #a0bcb4;
    --color-chart-6: #90b0ab;
    --color-chart-7: #80a5a2;
    --color-chart-8: #71999a;
    --color-chart-9: #638e92;
    --color-chart-10: #55828b;
    --color-chart-11: #487785;
    --color-chart-12: #3d6b7d;
}
