:root {
	--color-chart-1: #cddcd0;
	--color-chart-2: #c1d4c3;
	--color-chart-3: #b6ccb6;
	--color-chart-4: #acc4a9;
	--color-chart-5: #a3ba9c;
	--color-chart-6: #9ab28e;
	--color-chart-7: #91aa80;
	--color-chart-8: #89a073;
	--color-chart-9: #829864;
	--color-chart-10: #7b8f55;
	--color-chart-11: #748546;
	--color-chart-12: #6f7c35;
};