:root {
	--color-chart-1: #cddcd0;
	--color-chart-2: #bccec2;
	--color-chart-3: #acc0b5;
	--color-chart-4: #9cb3a9;
	--color-chart-5: #8ca59d;
	--color-chart-6: #7d9891;
	--color-chart-7: #6e8a85;
	--color-chart-8: #617c7b;
	--color-chart-9: #536f6f;
	--color-chart-10: #456365;
	--color-chart-11: #38575a;
	--color-chart-12: #2b4a50;
};