:root {
	--color-chart-1: #d0e2e7;
	--color-chart-2: #c4d9de;
	--color-chart-3: #b6d0d5;
	--color-chart-4: #a8c8cc;
	--color-chart-5: #9abec3;
	--color-chart-6: #8cb6ba;
	--color-chart-7: #7fadb0;
	--color-chart-8: #71a4a6;
	--color-chart-9: #639c9c;
	--color-chart-10: #549392;
	--color-chart-11: #458a87;
	--color-chart-12: #35827c;
};