:root {
	--color-chart-1: #dfece0;
	--color-chart-2: #d0e3d6;
	--color-chart-3: #c2d9ce;
	--color-chart-4: #b3d0c8;
	--color-chart-5: #a5c6c4;
	--color-chart-6: #9bbcbf;
	--color-chart-7: #93b1ba;
	--color-chart-8: #8ba6b4;
	--color-chart-9: #849baf;
	--color-chart-10: #7d90aa;
	--color-chart-11: #7686a5;
	--color-chart-12: #707ba0;
};