:root {
	--color-chart-1: #e4e6e6;
	--color-chart-2: #d0d6d5;
	--color-chart-3: #bdc5c5;
	--color-chart-4: #aab5b4;
	--color-chart-5: #97a6a3;
	--color-chart-6: #859692;
	--color-chart-7: #738781;
	--color-chart-8: #627970;
	--color-chart-9: #526a5f;
	--color-chart-10: #425c4e;
	--color-chart-11: #334e3d;
	--color-chart-12: #25402e;
};