:root {
	--color-chart-1: #e8eaea;
	--color-chart-2: #dadfdd;
	--color-chart-3: #ccd3d1;
	--color-chart-4: #bec8c4;
	--color-chart-5: #b2bcb8;
	--color-chart-6: #a5b1ab;
	--color-chart-7: #99a69e;
	--color-chart-8: #8d9b91;
	--color-chart-9: #819084;
	--color-chart-10: #768578;
	--color-chart-11: #6b7b6b;
	--color-chart-12: #60705f;
};