:root {
	--color-chart-1: #e8eaea;
	--color-chart-2: #dee3e2;
	--color-chart-3: #d5dbda;
	--color-chart-4: #cbd4d2;
	--color-chart-5: #c3cccb;
	--color-chart-6: #b9c4c3;
	--color-chart-7: #b0bcbb;
	--color-chart-8: #a7b5b3;
	--color-chart-9: #9eaeac;
	--color-chart-10: #94a7a5;
	--color-chart-11: #8ba09e;
	--color-chart-12: #829997;
};