:root {
	--color-chart-1: #e4e6e6;
	--color-chart-2: #d2d7d7;
	--color-chart-3: #c1c9c9;
	--color-chart-4: #b0b9ba;
	--color-chart-5: #9fabad;
	--color-chart-6: #8e9da0;
	--color-chart-7: #7e8f93;
	--color-chart-8: #6e8187;
	--color-chart-9: #5f737a;
	--color-chart-10: #50666e;
	--color-chart-11: #415962;
	--color-chart-12: #334c57;
};