@use "../../styles/tokens" as *;

/*******************************************************************************
 * PopupForm Component
 ******************************************************************************/

.bc-popup-form {
    display: flex;
    flex-direction: column;
    gap: $space-3;
}

/*******************************************************************************
 * PopupForm Fields
 ******************************************************************************/

.bc-popup-form__fields {
    display: flex;
    flex-direction: column;
    gap: $space-3;
}

/*******************************************************************************
 * PopupForm Actions
 ******************************************************************************/

.bc-popup-form__actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: $space-2;
    padding-top: $space-2;
    border-top: 1px solid $border-muted;
}
