.charts-btn {
    @include body-3-medium;
    padding: 8.5px 24px;
    border: 1px solid transparent;
    border-radius: 0;
    text-align: center;
    display: block;
    cursor: pointer;

    &.charts-btn--icon-only {
        padding: 4.5px 9px;
    }

    &:disabled {
        cursor: default;

        &.charts-btn--solid-blue,
        &.charts-btn--solid-dark-blue,
        &.charts-btn--solid-light-blue,
        &.charts-btn--solid-vermillion {
            color: $blue-50;
            background-color: $blue-10;
        }

        &.charts-btn--outline-vermillion,
        &.charts-btn--outline-white {
            color: $blue-40;
            border-color: $blue-40;
        }
    }

    svg {
        font-size: 0.75rem;
    }
}

.charts-btn--icon-right {
    margin-left: 0.5rem;
}

.charts-btn--icon-left {
    margin-right: 0.5rem;
}

.charts-btn--solid-vermillion {
    background-color: $vermillion;
    color: #fff;

    &:hover {
        background-color: $accent-vermillion;
    }
}

.charts-btn--outline-vermillion {
    border-color: $vermillion;
    color: $vermillion;

    &:hover {
        border-color: $accent-vermillion;
        color: $accent-vermillion;
    }
}

.charts-btn--solid-blue {
    background-color: $blue-60;
    color: #fff;

    &:hover {
        background-color: $blue-90;
    }
}

.charts-btn--solid-dark-blue {
    background-color: $blue-95;
    color: #fff;

    &:hover {
        background-color: #164377;
    }
}

.charts-btn--solid-light-blue {
    background-color: $blue-20;
    color: $blue-90;

    &:hover {
        background-color: $blue-10;
    }
}

.charts-btn--outline-white {
    background-color: transparent;
    border-color: $white;
    color: $white;

    &:hover {
        background-color: $white;
        color: $blue-90;
    }
}

.charts-btn--outline-light-blue {
    border-color: $blue-20;
    color: $blue-90;

    &:hover {
        background-color: $white;
        color: $blue-90;
    }
}
